In [97]:
import numpy as np
import pandas as pd

In [ ]:
# 한글 폰트
import matplotlib
import matplotlib.font_manager as fm
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

# # 한글 폰트2
# plt.rc('font', family='NanumBarunGothic')

In [110]:
df = pd.read_csv('2020_Domestic_Tour_FS.csv', encoding='utf-8')

### **1차여행 첫번째 방문지 빈도**

In [103]:
df.D_TRA1_1_SPOT.value_counts() 
# 경주시, 해운대구, 가평군, 강릉시, 서귀포시

37020    201
21090    188
31370    179
32030    176
39020    165
        ...
11200      1
31160      1
11120      1
11180      1
37320      1
Name: D_TRA1_1_SPOT, Length: 225, dtype: int64

In [111]:
df = df.D_TRA1_1_SPOT.value_counts().rename_axis('dist_code').reset_index(name='freq')

In [112]:
df.head(10)

   dist_code  freq
0      37020   201
1      21090   188
2      31370   179
3      32030   176
4      39020   165
5      34030   152
6      39010   144
7      36020   124
8      35010   120
9      32010   120

In [113]:
top100_2020 = df.head(100)

In [114]:
top100_2020.to_csv('top100_2020.csv', header=True, index=False, encoding = 'utf-8-sig')

### 코드북 - 시도 및 시군구 코드 변환

In [60]:
dist = pd.read_csv('district_name.csv', encoding='utf-8')

In [61]:
dist

     시/도코드     시/도명 시/군/구명 시/군/구  코드
0       11    서울특별시     　　   NaN NaN
1       11    서울특별시    230   강남구 NaN
2       11    서울특별시    250   강동구 NaN
3       11    서울특별시    090   강북구 NaN
4       11    서울특별시    160   강서구 NaN
..     ...      ...    ...   ...  ..
240     36     전라남도    400   해남군 NaN
241     36     전라남도    370   화순군 NaN
242     39  제주특별자치도     　　   NaN NaN
243     39  제주특별자치도    010   제주시 NaN
244     39  제주특별자치도    020  서귀포시 NaN

[245 rows x 5 columns]

In [81]:
# 마지막 열 제거
dist = dist.iloc[:, :-1]
dist

    시/도코드 시/군/구명     시/도명 시/군/구   code
1      11    230    서울특별시   강남구  11230
2      11    250    서울특별시   강동구  11250
3      11    090    서울특별시   강북구  11090
4      11    160    서울특별시   강서구  11160
5      11    210    서울특별시   관악구  11210
..    ...    ...      ...   ...    ...
239    36    430     전라남도   함평군  36430
240    36    400     전라남도   해남군  36400
241    36    370     전라남도   화순군  36370
243    39    010  제주특별자치도   제주시  39010
244    39    020  제주특별자치도  서귀포시  39020

[229 rows x 5 columns]

In [64]:
# 시/도코드만 있는 경우 제거
dist = dist.dropna(axis=0)
dist

In [66]:
# column 순서 바꾸기
dist = dist[['시/도코드', '시/군/구명', '시/도명', '시/군/구']]
dist

In [68]:
dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 1 to 244
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시/도코드   229 non-null    int64
 1   시/군/구명  229 non-null    object
 2   시/도명    229 non-null    object
 3   시/군/구   229 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.9+ KB

In [69]:
# 시/도코드 int -> str
dist['시/도코드'] = dist['시/도코드'].apply(str)
dist.info()

In [71]:
dist['code'] = dist['시/도코드'] + dist['시/군/구명']
dist['code']

In [75]:
dist['dist_name'] = dist['시/도명'] + ' ' + dist['시/군/구']
dist['dist_name']

In [77]:
dist_name = pd.concat([dist['code'], dist['dist_name']], axis=1)

In [78]:
dist_name

      code     dist_name
1    11230     서울특별시 강남구
2    11250     서울특별시 강동구
3    11090     서울특별시 강북구
4    11160     서울특별시 강서구
5    11210     서울특별시 관악구
..     ...           ...
239  36430      전라남도 함평군
240  36400      전라남도 해남군
241  36370      전라남도 화순군
243  39010   제주특별자치도 제주시
244  39020  제주특별자치도 서귀포시

[229 rows x 2 columns]

In [80]:
dist_name.to_csv('district_code.csv', header=True, index=False, encoding = 'utf-8-sig')

### code - freq - dist_name